<!DOCTYPE html>
<html lang="en">
{% include('headtep.twig') %}
<html>
<body>
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <br><br><br><br><br><br>
      <div class="container" style="width: 800px;">
        <div>
          <div>
            <div style="text-align: center">
              <br>
              <strong><h2 class="test_text">We sent the authentication link to your email</h2></strong><br>
              <h4 class="test_text">Please activate your account first</h4>
              <br>
              <a class="signintext" href="/signin">Sign In</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
</body>

</html>
